.huiyuan {
    @include page();
  }
  .custom-nav {
    background-color: white;
    /deep/ .center {
        span {
            color:black
        }
    }
    /deep/ .back {
      .cuIcon-back {
          border-top: 2px grey solid;
          border-left: 2px grey solid;
      }
  }  
}
.huiyuan_first {
    margin:20rpx;
    background-color: #fff;
    border-radius: 20rpx;
    padding:20rpx 30rpx;
    font-size:28rpx;
    color: rgb(134, 134, 134);
    &>p:first-child {
        color: black;
        font-size: 40rpx;
        line-height: 60rpx;
    }
    .type {
        @include flex(row);
        padding: 45rpx 0rpx;
        p {
            margin-top: 15rpx;
        }
        &>view {
            flex: 1;
            @include flex(column);
            align-items: center;
        }
        image{
            height: 120rpx;
            width: 120rpx;
        }
    }
    .infoItem {
        @include flex(row);
        padding: 10rpx 0rpx;
        margin-bottom: 40rpx;
        border-bottom: rgb(212, 212, 212) solid 1rpx;
        .itemName {
            flex: 1;
        }
        .input {
            flex: 4;
            font-size: 33rpx;
            color: black;
        }
    }
}
.buttonOne {
	position: fixed;
	bottom: 100rpx;
	width: 90%;
	left: 0rpx;
	right: 0rpx;
	margin: 0 auto;
	padding: 5rpx;
	color: white;
	font-size: $font-size-lg;
	border-radius: 50rpx !important;
	background: -webkit-linear-gradient(left, #ff3f4c, #fe7251);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #ff3f4c, #fe7251);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #ff3f4c, #fe7251);
	/* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #ff3f4c, #fe7251);
	box-shadow: .2rem .2rem .6rem rgba(254, 114, 81, .6);
}
