.minedp {
    @include page();
  }
  .custom-nav {
    background-color: white;
    /deep/ .center {
        span {
            color:black
        }
    }
    /deep/ .back {
      .cuIcon-back {
          border-top: 2px grey solid;
          border-left: 2px grey solid;
      }
  }  
}
.dptop {
  height: 400rpx;
  background-image: url('/static/img/dp/top.png');
  background-size:100% 100%;
  position: relative;

}
.dianp{
  position: absolute;
  padding: 15rpx;
  // border: rgb(54, 54, 32) solid 1rpx;
  left: 0rpx;
  right: 0rpx;
  margin: 0 auto;
  margin-top: 40rpx;
  background-color: white;
  height: 320rpx;
  width: 688rpx;
}
.dianptop {
  @include flex(row);
  margin-bottom: 40rpx;
  image {
    height: 142rpx;
    width: 210rpx;
    margin-right: 20rpx;
  }
  .dianptop_right {
    margin-top: -38rpx;
    p:first-child {
      font-weight: 700;
      font-size: 45rpx;
    }
    p:last-child {
      font-size: 26rpx;
      color:grey;
      margin-top: 20rpx;
    }
  }
}
.dianp_bottom_one {
  @include flex(row);
  font-size: 26rpx;
  margin-bottom: 10rpx;
  color:grey;
  .icon-collection-b {
    margin-right: 5rpx;
    font-size: 24rpx;
    color:rgb(190, 190, 190);
  }
  .zixun {margin-left: 30rpx;}
}
.dianp_bottom_two{
  @include flex(row);
  font-size: 33rpx;
  color: rgb(82, 82, 82);
  .icon-dingwei{
    margin-right: 20rpx;
  }
}
.media {
  height: 400rpx;
  width: 100%;
}
.dp_bottom{
  background-color: white;
  margin-bottom: 15rpx;
  padding: 0rpx 25rpx;
  p {
    font-weight: 700;
    font-size: 28rpx;
    padding: 20rpx 0rpx;
  }
  .anli {
    @include flex(row);
    width: 100%;
    overflow-x: scroll;
    padding-bottom: 30rpx;
    .anliItemc {
      width: 300rpx;
      margin-right: 40rpx;
      font-size: 27rpx;
      @include flex(column);
      line-height: 40rpx;
      &>view:last-child {
        color:gray;
        font-size: 24rpx;
      }
      image {
        width: 216rpx;
        height: 150rpx;
        border-radius: 10rpx;
        margin-bottom: 10rpx;
      }
    }
    .anliItemb {
      width: 180rpx;
      margin:0rpx 40rpx;
      font-size: 27rpx;
      @include flex(column);
      align-items: center;
      line-height: 40rpx;
      &>view:last-child {
        color:gray;
        font-size: 24rpx;
      }
      image {
        width: 120rpx;
        height: 120rpx;
        border-radius: 60rpx;
        margin-bottom: 10rpx;
      }
    }
    .anliItem {
      width: 300rpx;
      margin-right: 20rpx;
      font-size: 27rpx;
      image {
        width: 280rpx;
        height: 200rpx;
        border-radius: 20rpx;
        margin-bottom: 10rpx;
      }
    }
  }
  .bottom_article {
    font-size: 26rpx;
    line-height: 40rpx;
    color: gray;
    padding-bottom: 80rpx;
  }
}