.sjcenter {
    @include page();
    margin-top: none;
}
.custom-nav {
    background-color: white;
    /deep/ .center {
        span {
            color:black
        }
    }
}
uni-video {
    width: 100%;
    height: 400rpx;  
}
.loacation {
    background-color: white;
    padding: 10rpx 20rpx;
    font-size: 26rpx;
    color: gray;
}
.taocan {
    background-color: white;
    border: white solid 1px;
    border-radius: 30rpx;
    margin: 0rpx 30rpx;
    margin-top: 30rpx;
    padding: 30rpx;
    // @include flex();
    .taocan_top {
        @include flex(row,space-between);
        .image {
            height: 184rpx;
            width: 190rpx;
            box-sizing: border-box;
            border: rgb(230, 230, 230) solid 1rpx;
            image {
                height: 180rpx;
                width: 180rpx;      
            }
        }
        .top_right {
            @include flex(column,space-between);
            align-items: flex-start;
            line-height: 30rpx;
            padding: 10rpx 20rpx;
            height: 184rpx;
            width: 456rpx;
            .top_right_top {
                width: 100%;
                @include flex(row,space-between);
                .title {
                    p {
                      font-size: 32rpx;
                      margin-bottom: 20rpx;
                    }
                    p:last-child {
                        font-size: 25rpx;
                        color: rgb(218, 218, 218);
                    }
                }
                .buttom {
                    font-size: 25rpx;
                    color: $app-base-color;
                    border: $app-base-color solid 1rpx;
                    border-radius: 16rpx;
                    padding:3rpx 16rpx;
                    margin-top: -62rpx;
                }
            }
            .top_right_bottom {
                color: $app-base-color;
                font-size: 46rpx;
                span:first-child {
                    font-size: 25rpx;
                }
            }
        }
    }
    .taocan_bottom {
        width: 100%;
        @include flex(row,flex-start);
        margin-top: 20rpx;
        flex-wrap: wrap;
        .taocan_top_item {
            flex: 33.33%;
            margin: 5rpx 0rpx;
            font-size: 24rpx;
            color: gray;
            .icon-quangou {
                color: $app-base-color;
                margin-right: 10rpx;
            }
        }
    }
}
.active{ 
    border: $app-base-color solid 1px;
}